body {
        background-image:url('img.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment:fixed;
        font-family: Arial, sans-serif;
      }

      h1 {
        text-align: center;
        font-family:serif;
        font-size:25px;
      }
      h2{
        text-align:center;
        font-family:'Courier New', monospace;
        font-size:15px;
      }
      #todoInput {
        width: 70%;
        padding: 12px 20px;
        margin-left:15%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
      }

      button {
        background-color: #24ca66;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #45a049;
      }

      ul {
        list-style-type: none;
        padding: 0;
        border-radius:4px;
        width:75%;
        margin-left:145px;
      }

      li {
        border: 1px solid #ddd;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 4px;
        display: flex;
        align-items: center;
      }

      li.checked {
        background-color: #888;
        color: white;
        text-decoration: line-through;
      }

      .checkbox {
        margin-right: 16px;
      }

      .delete-btn {
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        margin-left: auto;
        cursor: pointer;
      }

      .delete-btn:hover {
        background-color: #d32f2f;
      }